/* main */

.promotion h2 {
    color: white;
    text-shadow: -2px -2px 0 #000;
    font-size: 3em;
    margin: 40px;
    position: absolute;
}

.promotion {
    background-image: url("../promotion.jpg");
    margin: 0 8px 0 8px;
    border-radius: 10px;
    width: 1500px;
    height: 300px;
}


/* .promotion img {
    margin: 8px;
    max-width: 98%;
} */

section {
    display: flex;
}

article {
    flex: 1;
    margin: 8px;
    background-color: hsl(0, 0%, 93%);
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    margin-bottom: 35px;
}

.seasonal img {
    width: 100%;
}

table {
    padding: 16px;
    border: 1px solid hsl(160, 13%, 33%);
    border-radius: 10px;
    font-size: 1.5em;
    margin: auto;
}


/* form */

input {
    display: block;
    width: 200px;
}

input#agree {
    justify-content: left;
    margin-top: 8px;
    width: 10px;
}

button {
    margin-top: 16px;
    background-color: hsl(160, 13%, 33%);
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 8px;
}