* {
    padding: 0;
    margin: 0;
}


/*  to prevent overwriting one of the rules, you must place:
 link, visited, hover, active. (LVHA)      */

body {
    background-color: white;
    margin: 0 80px 0 80px;
}

img.logo {
    margin: 10px auto 10px auto;
    display: block;
    width: 200px;
}

nav li {
    display: inline-block;
}

nav ul {
    margin: 8px;
    /* hsl(hue, saturation, lightness) */
    background-color: hsl(160, 13%, 33%);
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    border-radius: 10px;
    height: 58px;
}

a {
    text-decoration: none;
    color: white;
}

nav ::first-letter {
    font-weight: bold;
}


/* main */

.promotion h2 {
    color: white;
    text-shadow: -2px -2px 0 #000;
    font-size: 3em;
    margin: 40px;
    position: absolute;
}

.promotion {
    background-image: url("../promotion.jpg");
    margin: 0 8px 0 8px;
    border-radius: 10px;
    width: 1500px;
    height: 300px;
}


/* .promotion img {
    margin: 8px;
    max-width: 98%;
} */

section {
    display: flex;
}

article {
    flex: 1;
    margin: 8px;
    background-color: hsl(0, 0%, 93%);
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    margin-bottom: 35px;
}

.seasonal img {
    width: 100%;
}

table {
    padding: 16px;
    border: 1px solid hsl(160, 13%, 33%);
    border-radius: 10px;
    font-size: 1.5em;
    margin: auto;
}


/* form */

input {
    display: block;
    width: 200px;
}

input#agree {
    justify-content: left;
    margin-top: 8px;
    width: 10px;
}

button {
    margin-top: 16px;
    background-color: hsl(160, 13%, 33%);
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 8px;
}


/* footer */

footer {
    border-top: 1px solid hsl(160, 13%, 33%);
    display: flex;
    justify-content: space-between;
    margin: 90px 90px 0 90px;
    padding-top: 5px;
}

footer {
    flex: 1;
}